# Maven
target/
!**/src/main/**/target/
!**/src/test/**/target/

# Logs
*.log

# OS Files
.DS_Store

# IntelliJ
.idea/
*.iml

# VS Code
.vscode/

# Eclipse / STS
.classpath
.project
.settings/
.springBeans
.sts4-cache

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

# Environment files (IMPORTANT 🔥)
.env
#application.properties
application.yml